In [113]:
import pandas as pd
df_sent= pd.read_csv('C:\\Users\\Admin\\Desktop\\stock_analysis\\sentiment_data.csv')
df_hilo= pd.read_csv('C:\\Users\\Admin\\Desktop\\stock_analysis\\high_low_data1.csv')

In [114]:
df_sent.head()

         Date  Sentiment Stock Symbol
0  19-06-2024     0.9257         AAPL
1  18-06-2024     0.9804         AAPL
2  17-06-2024     0.9895         AAPL
3  16-06-2024     0.9179         AAPL
4  15-06-2024     0.8807         AAPL

In [115]:
df_hilo.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Previous Close,Movement
0,2019-06-20 00:00:00-04:00,48.409701,48.467686,47.844354,48.189846,86056000,0.0,0,AAPL,47.805695,Increase
1,2019-06-21 00:00:00-04:00,48.030392,48.525675,47.873348,48.025558,191202400,0.0,0,AAPL,48.189846,Decrease
2,2019-06-24 00:00:00-04:00,47.967572,48.358969,47.878180,47.977238,72881600,0.0,0,AAPL,48.025558,Decrease
3,2019-06-25 00:00:00-04:00,47.941000,48.141530,47.182371,47.250023,84281200,0.0,0,AAPL,47.977238,Decrease
4,2019-06-26 00:00:00-04:00,47.781548,48.559506,47.680076,48.271999,104270000,0.0,0,AAPL,47.250023,Increase

In [116]:
df_sent['Date'] = pd.to_datetime(df_sent['Date'], format='%d-%m-%Y').dt.date.astype(str)

In [117]:
df_hilo['Date'] = pd.to_datetime(df_hilo['Date'], utc=True).dt.strftime('%Y-%m-%d')

In [118]:
df_hilo.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Previous Close,Movement
0,2019-06-20,48.409701,48.467686,47.844354,48.189846,86056000,0.0,0,AAPL,47.805695,Increase
1,2019-06-21,48.030392,48.525675,47.873348,48.025558,191202400,0.0,0,AAPL,48.189846,Decrease
2,2019-06-24,47.967572,48.358969,47.878180,47.977238,72881600,0.0,0,AAPL,48.025558,Decrease
3,2019-06-25,47.941000,48.141530,47.182371,47.250023,84281200,0.0,0,AAPL,47.977238,Decrease
4,2019-06-26,47.781548,48.559506,47.680076,48.271999,104270000,0.0,0,AAPL,47.250023,Increase

In [119]:
df_sent.tail()

            Date  Sentiment Stock Symbol
7315  2019-06-21     0.9075         AMZN
7316  2019-06-20     0.9793         AMZN
7317  2019-06-19    -0.6391         AMZN
7318  2019-06-18     0.9931         AMZN
7319  2019-06-17     0.9947         AMZN

In [120]:
df_sent.rename(columns={'Stock Symbol': 'Ticker'}, inplace=True)

In [121]:
df_merged = pd.merge(df_hilo, df_sent, left_on=['Date', 'Ticker'], right_on=['Date', 'Ticker'], how='left')

In [122]:
df_merged.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Previous Close,Movement,Sentiment
0,2019-06-20,48.409701,48.467686,47.844354,48.189846,86056000,0.0,0,AAPL,47.805695,Increase,0.0000
1,2019-06-21,48.030392,48.525675,47.873348,48.025558,191202400,0.0,0,AAPL,48.189846,Decrease,0.2500
2,2019-06-24,47.967572,48.358969,47.878180,47.977238,72881600,0.0,0,AAPL,48.025558,Decrease,0.3182
3,2019-06-25,47.941000,48.141530,47.182371,47.250023,84281200,0.0,0,AAPL,47.977238,Decrease,0.9381
4,2019-06-26,47.781548,48.559506,47.680076,48.271999,104270000,0.0,0,AAPL,47.250023,Increase,0.2023

In [123]:
df_merged.to_csv("C:\\Users\\Admin\\Desktop\\stock_analysis\\final_data_ready.csv",index=False)